
@inject SignInManager<HydroPiUser> SignInManager
@{ var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any(); }

<ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-title">Manage</li>

    <li class="@ManageNavPages.IndexNavClass(ViewContext) c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" asp-area="Identity" asp-page="/Account/Manage/@ManageNavPages.Index">
            <i class="c-sidebar-nav-icon cis-user" width="64" height="64" viewBox="0 0 64 64"></i>
            Profile
        </a>
    </li>
    <li class="@ManageNavPages.EmailNavClass(ViewContext) c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" asp-area="Identity" asp-page="/Account/Manage/@ManageNavPages.Email">
            <i class="c-sidebar-nav-icon cis-mail" width="64" height="64" viewBox="0 0 64 64"></i>
            Email
        </a>
    </li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext) c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" asp-area="Identity" asp-page="/Account/Manage/@ManageNavPages.ChangePassword">
            <i class="c-sidebar-nav-icon cis-key" width="64" height="64" viewBox="0 0 64 64"></i>
            Change Password
        </a>
    </li>
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext) c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" asp-area="Identity" asp-page="/Account/Manage/@ManageNavPages.ExternalLogins">
                <i class="c-sidebar-nav-icon cis-external-link" width="64" height="64" viewBox="0 0 64 64"></i>
                External Logins
            </a>
        </li>
    }
    <li class="@ManageNavPages.PersonalDataNavClass(ViewContext) c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" asp-area="Identity" asp-page="/Account/Manage/@ManageNavPages.PersonalData">
            <i class="c-sidebar-nav-icon cis-mail" width="64" height="64" viewBox="0 0 64 64"></i>
            Personal Data
        </a>
    </li>
    <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" asp-area="Identity" asp-page="/Account/Manage/@ManageNavPages.TwoFactorAuthentication">
            <i class="c-sidebar-nav-icon cil-shield" width="64" height="64" viewBox="0 0 64 64"></i>
            Two-Factor Authentication
        </a>
    </li>
</ul>